<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.achobeta.infrastructure.dao.UserAccountMapper">

    <!-- 通用结果集映射-->
    <resultMap id="BaseResultMap" type="com.achobeta.domain.user.model.entity.UserEntity">
        <id column="user_id" property="userId"/>
        <result column="user_name" property="userName"/>
        <result column="user_picture_resource" property="userPictureResource"/>
        <result column="user_account" property="userAccount"/>
        <result column="user_email" property="userEmail"/>
        <result column="user_phone_num" property="userPhoneNum"/>
        <result column="user_password" property="userPassword"/>
        <result column="create_time" property="createTime"/>
        <result column="user_status" property="userStatus"/>
    </resultMap>

    <select id="selectById" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT user_id,
               user_name,
               user_picture_resource,
               user_account,
               user_email,
               user_phone_num,
               user_password,
               create_time,
               user_status
        FROM UserInformation
        WHERE user_id = #{userId}
    </select>

    <select id="selectByAccount" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT user_id,
               user_name,
               user_picture_resource,
               user_account,
               user_email,
               user_phone_num,
               user_password,
               create_time,
               user_status
        FROM UserInformation
        WHERE user_account = #{userAccount}
    </select>

    <!-- 2. 插入用户（insert 方法） -->
    <insert id="insert" parameterType="com.achobeta.domain.user.model.entity.UserEntity">
        INSERT INTO UserInformation (user_id,
                                     user_name,
                                     user_picture_resource,
                                     user_account,
                                     user_email,
                                     user_phone_num,
                                     user_password,
                                     create_time,
                                     user_status)
        VALUES (#{userId},
                #{userName},
                #{userPictureResource},
                #{userAccount},
                #{userEmail},
                #{userPhoneNum},
                #{userPassword},
                #{createTime},
                #{userStatus})
    </insert>


    <!-- 3. 更新用户（update 方法） -->
    <update id="update" parameterType="com.achobeta.domain.user.model.entity.UserEntity">
        UPDATE UserInformation
        <set>
            <if test="user.userName != null and user.userName != ''">
                user_name = #{user.userName},
            </if>
            <if test="user.userPictureResource != null and user.userPictureResource != ''">
                user_picture_resource = #{user.userPictureResource},
            </if>
            <if test="user.userEmail != null and user.userEmail != ''">
                user_email = #{user.userEmail},
            </if>
            <if test="user.userPhoneNum != null and user.userPhoneNum != ''">
                user_phone_num = #{user.userPhoneNum},
            </if>
            <if test="user.userPassword != null and user.userPassword != ''">
                user_password = #{user.userPassword},
            </if>
            <if test="user.userStatus != null">
                user_status = #{user.userStatus},
            </if>
        </set>
        WHERE
        user_account = #{user.userAccount}
    </update>

</mapper>